# Token do Bot do Discord (Obtido no Discord Developer Portal)
DISCORD_TOKEN=seu_token_aqui

# ID da Aplicação (Client ID)
CLIENT_ID=seu_client_id_aqui

# ID do Servidor (Guild ID) - Opcional para registro instantâneo de comandos de teste
GUILD_ID=seu_guild_id_aqui

# ID do Canal onde os Standups/Dailies serão publicados
DAILY_CHANNEL_ID=seu_canal_daily_id_aqui
